@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swatch-width: 250px;
  --swatch-height: 150px;
  --swatch-margin: 10px;
  --additional-columns: 2;
}